<h2><%= Comment.model_name.human %></h2>

<table>
  <tbody>
  <% comments.each do |comment| %>
    <tr>
      <td><%= comment.content %></td>
      <td><%= comment.user.name_or_email %></td>
      <td><%= l comment.created_at, format: :short %></td>
      <% if comment.user == current_user %>
        <td><%= link_to t('views.common.destroy'), [commentable, comment],  method: :delete, data: { confirm: t('views.common.delete_confirm') } %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<%= form_with(model: [commentable, Comment.new], method: :post) do |form| %>
  <div class="field">
    <%= form.text_area :content, required: true %>
  </div>

  <div class="actions">
    <%= form.submit t('controllers.common.comment') %>
  </div>
<% end %>