<h1><%= t('views.common.title_show', name: Report.model_name.human) %></h1>

<p>
  <strong><%= Report.human_attribute_name(:title) %>:</strong>
  <%= @report.title %>
</p>

<p>
  <strong><%= Report.human_attribute_name(:content) %>:</strong>
  <%= @report.content %>
</p>

<p>
  <strong><%= Report.human_attribute_name(:poster) %>:</strong>
  <%= @report.user.name_or_email %>
</p>

<p>
  <strong><%= Report.human_attribute_name(:posted_at) %>:</strong>
  <%= l @report.created_at, format: :short %>
</p>

<%= render 'comments/comments', comments: @comments, commentable: @report %>

<% if @report.user == current_user %>
  <%= link_to t('views.common.edit'), edit_report_path(@report) %> |
<% end %>
<%= link_to t('views.common.back'), reports_path %>
